# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# TypeScript
dist/
*.tsbuildinfo

# Env
.env
.env.*

# Drizzle
drizzle/
drizzle.config.ts

# Logs
logs/
*.log

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db
